body{
	margin: 0px;
}

h1{
	font-family: Impact;
	font-size: 5.56vw;
}

h2{
	font-family: Helvetica;
	font-size: 1.32vw;
}

h3{

}

.menu{
	background: #8d99ae;
	height: 69px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-flow: row nowrap;
}

.menu-button{
	color: #edf2f4;
	padding: 5px;
	font-family: Helvetica;
	font-size: 1.32vw;
}

.menu-icon{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 50px;
	width: 50px;
}

.rosso{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #bd1e1e;
}

.search-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-text{
	font-family: Helvetica;
	font-size: 1.32vw;
	padding: 10px;
	background-color: #edf2f4;
}

.footer-container{
	background: #8d99ae;
	height: 69px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	bottom: 0;
	position: fixed;
}

.footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.gallery-img{
	height: 15vw;
}

