body{
	margin: 0px;
}

h1{
	font-family: Impact;
	font-size: 5.56vw;
}

h2{
	font-family: Helvetica;
	font-size: 1.32vw;
}

h3{

}

.menu{
	background: #8d99ae;
	height: 69px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-flow: row nowrap;
}

.menu-button{
	color: #edf2f4;
	padding: 5px;
	font-family: Helvetica;
	font-size: 1.32vw;
}

.menu-icon{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 50px;
	width: 50px;
	
}

.rosso{
	display: flex;
	justify-content: center;
	align-items: center;
}

.food-menu{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 4vw;
}

.footer{
	position: fixed;

}

